{% extends "MimimiSiteBundle:Default:two-column.page.html.twig" %}

{% block javascript %}
<script src="{{ asset('bundles/mimimisite/js/like_demo.js') }}"></script>
<script src="{{ asset('bundles/mimimisite/js/upload_demo.js') }}"></script>
<script src="{{ asset('bundles/mimimisite/js/slider.js') }}"></script>
{% endblock %}

{% block content_wrapper_prehook %}
<form action="{{ url("_item_add") }}" method="post" enctype="multipart/form-data">
{% endblock %}

{% block aside %}
<div class="block box checkout">
	<h3>Order</h3>
	<div class="row box">
		<span>Price</span>
		<input type="text" placeholder="Make your price" class="price" name="price" />
	</div>
	<div class="row box">
		<span>Ship to</span>
		<select class="quantity" name="shipto">
			<option value="0">Worldwide</option>
			{% for country in countries %}
				<option value="{{ country.id }}">{{ country.title }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="row box">
		<span>Made in</span>
		<select class="quantity" name="madein">
			<option value="">Select country</option>
			{% for country in countries %}
				<option value="{{ country.id }}">{{ country.title }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="row box">
		<input type="submit" value="Add" class="box" />
	</div>
</div>
<div class="block box">
	<h3>Quick access</h3>
	<ul class="browse quick-access">
		<li><a href="#" class="add-item">Add item</a></li>
		<li><a href="#" class="feedback">Your replies</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="item">
	<div class="block box">
		<h3 class="title">
			Add new item
		</h3>
			<div class="upload">
				<ul>
					<div class="row box">
					<li class="box image-main">
						<input type="file" id="upload1" name="images[]" />
						<img class="image" id="image1" alt="" src="#" />
					</li>
					<li class="box">
						<input type="file" id="upload2" name="images[]" />
						<img class="image" id="image2" alt="" src="#" />
					</li>
					<li class="box">
						<input type="file" id="upload3" name="images[]" />
						<img class="image" id="image3" alt="" src="#" />
					</li>
					<li class="box">
						<input type="file" id="upload4" name="images[]" />
						<img class="image" id="image4" alt="" src="#" />
					</li>
					</div>
					<div class="row box">
					<li class="box">
						<input type="file" id="upload5" name="images[]" />
						<img class="image" id="image5" alt="" src="#" />
					</li>
					<li class="box">
						<input type="file" id="upload6" name="images[]" />
						<img class="image" id="image6" alt="" src="#" />
					</li>
					<li class="box">
						<input type="file" id="upload7" name="images[]" />
						<img class="image" id="image7" alt="" src="#" />
					</li>
					<li class="box">
						<input type="file" id="upload8" name="images[]" />
						<img class="image" id="image8" alt="" src="#" />
					</li>
					</div>
				</ul>
			</div>
		<div class="row full">
			<span>Category</span>
			<select name="category">
				<option value="0">Select category from list</option>
				{% for category in categories %}
					<option value="{{ category.id }}">{{ category.title }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="row full">
			<span>Title</span>
			<input type="text" placeholder="Enter title here" name="title" />
		</div>
		<div class="row full">
			<span class="sign">Description</span>
			<ul class="available-tags">
				<li><a href="#">&#60;a&#62;</a></li>
				<li><a href="#">&#60;strong&#62;</a></li>
				<li><a href="#">&#60;i&#62;</a></li>
				<li><a href="#">&#60;u&#62;</a></li>
				<li><a href="#">&#60;h4&#62;</a></li>
				<li><a href="#">&#60;br&#62;</a></li>
			</ul>
			<textarea placeholder="Item description." name="description"></textarea>
			<h6 class="counter box">23</h6>
		</div>
		<div class="section small-section">
			<div class="row">
				<span>Available</span>
				<input type="text" placeholder="Quantity" />
			</div>
			<div class="row">
				<span>Sizes</span>
				<input type="text" placeholder="Optional" />
			</div>
		</div>
		<div class="section middle-section">
			<div class="row">
				<span>Used materials</span>
				<input type="text" placeholder="Seperate materials with commas (optional)" />
			</div>
			<div class="row">
				<span>Tags</span>
				<input type="text" placeholder="Enter tags" />
			</div>
		</div>
		<ul class="browse">
			<li><a href="#" class="highlights">Highlight item</a></li>
		</ul>
		<div class="buttons">
			<input type="submit" value="Save" />
			<input type="button" value="Cancel" />
		</div>
	</div>
</div>
{% endblock %}

{% block content_wrapper_posthook %}
</form>
{% endblock %}