<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/mimimisite/css/style.css') }}" />
        <script src="{{ asset('bundles/mimimisite/js/jquery.js') }}" type="text/javascript"></script>
        <title>Mimimi.co</title>
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div class="overflow">
					<div class="brand box">
						<a href="{{ url("_index") }}">MIMIMI.co</a>
					</div>
				</div>
				<nav class="user">
					<ul class="user-panel">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Messages</a></li>
						<li class="account">
							<a href="#">Account</a>
							<div class="notifications">
								<a href="#notifications" class="indicator box">5</a>
								<div class="notifications-dropdown"><div class="notifications-triangle"></div>
									<div class="title"><h3>Notifications</h3><a href="#" class="all-notifications"></a></div>
									<ul class="notifications-list">
										<li>
											<img src="images/temp/userpic-40-2.jpg">
											<div class="notification-content">
												<a href="#" class="name">Anthony Lagon</a> <a href="#">comments your item. Check it out.</a>
											</div>
											<a href="#" class="action comment"></a>
										</li>
										<li>
											<img src="images/temp/userpic-40-3.jpg">
											<div class="notification-content">
												<a href="#" class="name">Colin Devroe</a> <a href="#">likes your item. Now you have 17 likes</a>
											</div>
											<a href="#" class="action view"></a>
										</li>
										<li>
											<img src="images/temp/userpic-40-4.jpg">
											<div class="notification-content">
												<a href="#" class="name">Josh Long</a> <a href="#">sent you a message!</a>
											</div>
											<a href="#" class="action reply"></a>
										</li>
										<li>
											<img src="images/temp/userpic-40-1.jpg">
											<div class="notification-content">
												<a href="#" class="name">Josh Long</a> <a href="#">sent you a message!</a>
											</div>
											<a href="#" class="action reply"></a>
										</li>
									</ul>
								</div> 	
							</div>
							<img src="{{ asset('bundles/mimimisite/images/userpic-40-wrapper.jpg') }}" class="userpic-small" />
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<nav class="under-head">
			<div class="wrapper">
			<ul class="menu">
			{% for category in categories %}
				<li><a href="{{ url("_item_category", {'id': category.id}) }}">{{ category.title }}</a></li>
			{% endfor %}
			</ul>
			<form method="post">
				<input type="search" placeholder="Search" />
			</form>
			</div>
		</nav>
		<div class="content">
			{% block content_wrapper_prehook %}{% endblock %}
			{% block content_wrapper %}{% endblock %}
			{% block content_wrapper_posthook %}{% endblock %}
		</div>
		<footer>
			<div class="wrapper">
				<div class="logo">
					<span>2013 &copy; All rights reserved.</span>
					MIMIMI.co
				</div>
				<ul class="foot-menu">
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Job</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Advertisement</a></li>
				</ul>
			</div>
		</footer>
		<script src="{{ asset('bundles/mimimisite/js/notifications.js') }}"></script>
		{% block javascript %}
		{% endblock %}
	</body>
</html>