{% extends "MimimiSiteBundle:Main:two-column.page.html.twig" %}

{% block javascript %}
<script src="{{ asset('bundles/mimimisite/js/like_demo.js') }}"></script>
<script src="{{ asset('bundles/mimimisite/js/upload_demo.js') }}"></script>
<script src="{{ asset('bundles/mimimisite/js/slider.js') }}"></script>
<script src="{{ asset('bundles/mimimisite/js/notifications.js') }}"></script>
{% endblock %}

{% block aside %}
{% include "MimimiSiteBundle:User:sidebar.html.twig" %}
<!--div class="block box">
	<h3>Browse</h3>
	<ul class="browse">
		<li><a href="#" class="latest">Latest</a></li>
		<li><a href="#" class="heart">Favorites</a></li>
		<li><a href="#" class="feed">Feed</a></li>
		<li><a href="#" class="highlights">Popular</a></li>
		<li><a href="#" class="alphabetic">Alphabetic</a></li>
	</ul>
</div-->
{% endblock %}

{% block content %}
<div class="about-owner">
	<div class="block-about-triangle"></div>
	<div class="block box">
		<div class="about">
			{{ user.about }}
		</div>
		<ul class="browse">
			<li><a href="#" class="map">{{ user.city }}, {{ user.country }}</a></li>
			<!--li><a href="#" class="male">Male</a></li>
			<li><a href="#" class="date">Born on 10 July</a></li-->
		</ul>
		<!--ul class="social">
			<li><a href="#" class="vk"></a></li>
			<li><a href="#" class="facebook"></a></li>
			<li><a href="#" class="twitter"></a></li>
			<li><a href="#" class="instagram"></a></li>
			<li><a href="#" class="pinterest"></a></li>
		</ul-->
	</div>
</div>
{% set items = user.items %}
{% include "MimimiSiteBundle:Main:item_listing.html.twig" %}
{% endblock %}